# ignore Elgg configuration
/engine/settings.php
/engine/settings-*.php
/.htaccess
/cometchat/*
/composer.lock
/composer.phar
/cache

#log file
/mod/missions_organization/get_ancestors_log.txt

# ignore Single Signon mods



/mod/gsa/


# don't ignore bundled plugins
!/mod/blog/
!/mod/bookmarks/
!/mod/ckeditor/
!/mod/dashboard/
!/mod/developers/
!/mod/diagnostics/
!/mod/embed/
!/mod/externalpages/
!/mod/file/
!/mod/garbagecollector/
!/mod/groups/
!/mod/htmlawed/
!/mod/invitefriends/
!/mod/likes/
!/mod/logbrowser/
!/mod/logrotate/
!/mod/members/
!/mod/messageboard/
!/mod/messages/
!/mod/pages/
!/mod/profile/
!/mod/reportedcontent/
!/mod/search/
!/mod/site_notifications/
!/mod/tagcloud/
!/mod/thewire/
!/mod/twitter_api/
!/mod/uservalidationbyemail/
!/mod/web_services/
!/mod/zaudio/

# DO ignore the bundled plugins we don't use - for when we update to later versions
/mod/aalborg_theme/
/mod/categories/
/mod/custom_index/
/mod/legacy_urls/
/mod/notifications/


# ignore IDE/hidden/testing/OS cache files
.*
*~
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
*.phpproj
tmtags
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

engine/settings.php.old
engine/settings.php
.htaccess
memcache/
/cache
opcache.php
phpinfo.php
/composer.lock

